*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
    width: 500px;
    height: 450px;
}
.card{
    border-radius: 30px;
    width: 500px;
    height: 500px; 
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.card-body{
    padding: 25px;
    margin: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
    
}
.btn-primary:hover{
    background-color: black;
}
h5{
    color: rgb(42, 241, 24);
}
.button{
    text-align: right;
}
marquee{
    color: rgb(212, 7, 134);
}
h1{
    border-bottom: 4px double black;
}
p{
    border-radius: 70px;
    height: 50px;
}
